[state]
seat = 778155cf-fe25-464b-a8d4-f13218e9450f
offered_desktop = True
last_vendor = Quansheng
last_model = UV-K5 egzumer
last_port = /dev/ttyUSB0
recent0 = /tmp/PL Calling Frequencies and Simplex.csv
recent1 = /home/piontec/.local/pipx/venvs/chirp/lib/python3.11/site-packages/chirp/stock_configs/PL Calling Frequencies and Simplex.csv
recent2 = /home/piontec/Desktop/Quansheng_UV-K5_20240401.img
last_dir = /tmp
recent3 = /home/piontec/.local/pipx/venvs/chirp/lib/python3.11/site-packages/chirp/stock_configs/EU LPD and PMR Channels.csv
window_w = 2560
window_h = 1048
window_x = 0
window_y = 0
last_open = 

[clone_prompts]
pre_download_quansheng_uv-k5 = False
pre_upload_quansheng_uv-k5_egzumer = True

[bandplan]
north_america = True

