sourceDir = "/home/piontec/devel/piontec-github/dotfiles"

[git]
    autoCommit = true
    autoPush = true

[hooks.read-source-state.pre]
    command = "devel/piontec-github/dotfiles/chezmoi/.install-password-manager.sh"
